name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Test SSH Connection
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: 34.230.201.118
        username: ftpuser
        key: ${{ secrets.FTP_SSH_KEY }}
        port: 22
        script: |
          echo "Connection successful!"

